body {
  margin: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.top-part {
  margin-bottom: 150px;
}
.top-part-bg {
  padding: 10em;
  background-image: url("image/donation13.jpg");
  background-size: cover;
  text-align: center;
}
.top-part-bg h1 {
  color: white;
  font-size: 60px;
}
.top-part-bg p {
  color: white;
  font-size: 30px;
}
.main-btn {
  text-decoration: none;
  background-image: linear-gradient(tomato, #ff4b2b);
  color: white;
  padding: 15px 25px;
  font-weight: 700;
  border-radius: 5px;
}
.donate-today {
  text-align: center;
  margin-bottom: 150px;
}

.donate-amount {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
}
.amount {
  background-color: rgb(220, 217, 217);
  padding: 10px 30px;
}
#highlight-amount {
  background-color: rgb(245, 221, 224);
  padding: 10px 30px;
  border: 1px solid salmon;
}
#highlight-amount h1 {
  color: orangered;
}

#donate {
  font-size: 60px;
}
#donate-p {
  font-size: 30px;
  color: gray;
}

#other-amount {
  margin-top: 40px;
}

input[type="text"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(220, 217, 217);
}

input,
input::placeholder {
  font: 20px/3 "Poppins";
  text-align: center;
}

#donate-btn {
  margin-top: 50px;
}

.donate-plan {
  text-align: center;
  margin-bottom: 150px;
}

.donate-plan h1 {
  font-size: 50px;
}
.donate-plan p {
  font-size: 30px;
  color: gray;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  text-align: left;
}

.container h3 {
  font-size: 30px;
}

.container p {
  font-size: 20px;
}

#container-1 {
  background-color: rgb(195, 230, 242);
  width: 30%;
  padding: 20px;
  border-radius: 5px;
}
#container-2 {
  background-color: lightpink;
  width: 30%;
  padding: 20px;
  border-radius: 5px;
}
#container-3 {
  background-color: lightyellow;
  width: 30%;
  padding: 20px;
  border-radius: 5px;
}

.depend-donation {
  display: flex;
  text-align: justify;
  margin-bottom: 400px;
}

.depend-donation h1 {
  font-size: 50px;
}
.depend-donation p {
  font-size: 20px;
  color: gray;
}

.depend-donation img {
  width: 80%;
  height: 150%;
  border-radius: 5px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.need-survive {
  display: flex;
  margin-bottom: 550px;
}
.need-survive img {
  width: 80%;
  height: 150%;
  border-radius: 5px;
}

.need-survive h1 {
  font-size: 50px;
}

.need-survive p {
  font-size: 20px;
  color: gray;
}

.update-part {
  text-align: center;

  margin-bottom: 250px;
}

.update-field {
  background-color: lightyellow;
  padding: 100px;
  margin: 60px;
  border-radius: 5px;
  height: 100px;
  align-items: center;
}
.update-part h1 {
  font-size: 50px;
}

.update-part p {
  font-size: 20px;
  color: gray;
}

#email-input {
  text-align: left;
  width: 35%;
  height: 50px;
  font-size: 14pt;
  border: none;
  background-color: rgb(168, 168, 168);
  border-radius: 5px;
}

.footer {
  background-color: black;
  height: 200px;
  font-family: "Lobster Two", cursive;
  text-align: center;
  padding: 30px;
}

.footer h1 {
  color: orangered;
  font-size: 40px;
}

.footer h5 {
  color: white;
  font-size: 20px;
}
